.conteneur{
    background-color: $background-color;
    position: relative;
    z-index: 1;
    width: 100%;
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
    @include laptop-only{
        height: 1500px;

    };
    @include tablet-only{
        height: 1500px;
    };
    @include mobile-only{
        height: 1300px;
    };
    &--height{
        @include laptop-only{
            height: 2000px;
    
        };
        @include tablet-only{
            height: 1800px;
        };
        @include mobile-only{
            height: 1600px;
        };

    }
    &__title{
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        margin-left: 5%;
        flex-wrap: nowrap;
        @include mobileM-only{
            width: 70%;
        }
    }
    &__icons{
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
            & .fas{
                opacity: 1;
            }
            & .fill{
                opacity: 0;
            }
        }
    }
    &__byline{
        display: flex;
        flex-direction: row;
        width: 90%;
        text-decoration: none;
    }
    &__underline{
        @include laptop-only{
            @include underlineWidth(laptop4k);
        };
        @include tablet-only{
            @include underlineWidth(tablet);
        };
        @include mobileM-only{
            @include underlineWidth(mobile);
        };
        width: 15%;
        height: 2px;
        background-color:$tertiaire;
    }

    &__heading{
        @include flex-column;
        justify-content: flex-start;
        width: 90%;
    }

    &__contents{
        @include flex-column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 95%;
        @include laptop-only{
            height: 800px;
        }
        @include mobile-only{
            height: 1500px;
        }
    }

    &__meals{
        width: 100%;
        @include laptop-only{
            @include flex-column;
            justify-content: space-around;
            align-items: center;
            height: 25%;
        }

        @include tablet-only{
            @include flex-column;
            align-items: center;
            height: 22%;
        }
        
        @include mobile-only{
            @include flex-column;
            align-items: center;
            height: 25%;
        }
    }

    &--height--border{
        border-radius: 0px;
        width: 100%;
        @include laptop-only{
            height: 900px;
        }
        @include tablet-only{
            height: 850px;
        }

        @include mobile-only{
            height: 1600px;
        }
        margin-top: 0px;

        
    }

}
