footer {
    background-color: #353535;
    position: relative;
    color: white;
    
    z-index: 1;
    &__informations p {
      font-style: italic;
    }
    @include mobile-only{
      @include flex-column;
      align-items: flex-start;

    }
  }

    ul {
      @include laptop-only{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

      };
      @include mobile-only{
        @include flex-column;
        align-items: flex-start;
        
      };
      list-style-type: none;
  
      li {
        padding: 5px 0 5px 0;
        i{
          margin-right: 10px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }

    }