.footer{
    @include flex;
    align-items: flex-start;
    background-color: black;
    color: white;

    & ul {
        margin-left: 0px;
    }

    &__informations {

        & footer__informations--italic{
            font-style: italic;
       }

    }
}