footer {
    background-color: #353535;
    position: relative;
    color: white;
    @include flex-column;
    align-items: flex-start;
    
    z-index: 1;
    &__informations p {
      font-style: italic;
    }

  }

    ul {   
      @include laptop-only{
        flex-direction: row;   
        align-items: center;
      };    
      @include tablet-only{
        flex-direction: row;   
        align-items: center;
      }   
      @include flex-column;
      justify-content: space-around;
      align-items: flex-start;   
      list-style-type: none;  
      width: 90%;

      li {
        padding: 5px 0 5px 0;
        i{
          margin-right: 10px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }

    }