.header{
    position: relative;
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title{
        font-weight: bold;
    }

    &__nav{
        position: absolute;
        left:20px;
    }
 
}