.menu-prev{
    @include laptop-only{
        width: 25%
        
    }
    @include mobile-only{
        @include flex-column;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: nowrap;
        width: 90%;
    }

    @include shadow;

    background-color: white;
    border-radius: 10px;
    width: 90%;
    @include laptop-only{
        height: 100px;
    }
    @include tablet-only {
        height: 90px;
    }
    @include mobile-only{
        height: 80px;
    }
    text-overflow: ellipsis;
    animation-name: menu-loader;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;



    &__title{
        @include marge-left__marge-right;
        font-weight: bold;
        margin-bottom: 0px;

    }

    &__informations{
        display:  flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        width: 90%;

    }

    &__byline{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }  

    &__price{
        font-weight: bold;
    }

    &__validation{
        position: absolute;
        right: 20px;
        transform-origin: right;
        @include flex-column;
        visibility: hidden;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 80px;
        background-color: #99e2d0;
        & .fa-check-circle{
            transform: rotate(-180deg);
        }     

    }

    &:hover{
        cursor: pointer;

    }

    &:hover &__validation{
        visibility: visible;
        transform: scaleX(2);
        @include transition_validation;
        & .fa-check-circle{
            transform: rotate(5deg);
            @include transition_validation;
        }
    }

    &:hover &__price{
        transform: translateX(-60px);
        @include transition_validation;
    }
    
    &:hover &__byline{

        width: 75%;
    }

}

