.menu-prev{
    @include flex-column;
    @include shadow;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    height: 100px;
    text-overflow: ellipsis;


    &__title{
        @include marge-left__marge-right;
        font-weight: bold;
        margin-bottom: 0px;

    }

    &__informations{
        display:  flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        width: 80%;

    }

    &__byline{
        text-overflow: ellipsis;
        white-space: nowrap;

    }  

    &__price{
        font-weight: bold;
    }

    &__animation{ 
        overflow: hidden;
        @include flex-column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        height: 100%;
        width: 50px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #99E2D0;
        & .fa-check-circle{           
 
            color: white;
            width: 16px;
            height: 16px; 
            
        }    
    }

    /*
    &:hover &__animation{
        justify-content: center;
        @include flex-column;
        align-items: center;
        align-self: flex-end;
        transform: translate(-50px);
        transition: transform 3000ms ease-in-out;

        & i{
        transform: rotate(-1turn);
        transition: transform 3000ms ease-in-out;
        transform-origin: center center;
        }

    }
    */

}