@font-face {
  font-family: "Shrikhand";
  src: url(./../../sass/vendors/shrikhand/Shrikhand-Regular.otf);
  /*attention prendre le chemin relatif depuis le fichier css dans public*/
}
h1, .footer__informations:nth-child(1) {
  font-family: "Shrikhand";
}

h2, h6, span, p {
  font-family: "Roboto";
}

/*
$number:(
    mobile-margin-left: -45px,
    tablet-margin-left: -15px,
    laptop-margin-left: -30px,    
);
*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__title {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}
footer__informations p {
  font-style: italic;
}

ul {
  list-style-type: none;
}
@media screen and (max-width: 2560px) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (max-width: 425px) {
  ul {
    display: flex;
    flex-direction: column;
  }
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.menu-prev {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  height: 100px;
  text-overflow: ellipsis;
  /*
  &:hover &__animation{
      justify-content: center;
      @include flex-column;
      align-items: center;
      align-self: flex-end;
      transform: translate(-50px);
      transition: transform 3000ms ease-in-out;

      & i{
      transform: rotate(-1turn);
      transition: transform 3000ms ease-in-out;
      transform-origin: center center;
      }

  }
  */
}
.menu-prev__title {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  margin-bottom: 0px;
}
.menu-prev__informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  width: 80%;
}
.menu-prev__byline {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-prev__price {
  font-weight: bold;
}
.menu-prev__animation {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 100%;
  width: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #99E2D0;
}
.menu-prev__animation .fa-check-circle {
  color: white;
  width: 16px;
  height: 16px;
}

.conteneur {
  background-color: #F2F2F2;
  width: 100%;
  height: 1500px;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: -50px;
}
@media screen and (max-width: 425px) {
  .conteneur {
    display: flex;
    flex-direction: column;
  }
}
.conteneur__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  width: 90%;
  align-self: flex-start;
}
.conteneur__byline {
  display: flex;
  flex-direction: row;
  width: 90%;
  text-decoration: none;
}
.conteneur__underline {
  width: 15%;
  height: 2px;
  background-color: #99E2D0;
}
.conteneur__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}
.conteneur__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 95%;
}
.conteneur--height--border {
  border-radius: 0px;
  margin-top: 50px;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 2560px) {
  .conteneur--height--border {
    height: 1000px;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .conteneur--height--border {
    flex-wrap: nowrap;
    height: 2000px;
    width: 100%;
  }
}

.picture-prev__img img {
  object-fit: cover;
  width: 100%;
}

.description-prev {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .description-prev {
    height: 200px;
  }
}
.todo-prev {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 2560px) {
  .todo-prev {
    width: 30%;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-content: space-between;
  }
}
@media screen and (max-width: 425px) {
  .todo-prev {
    width: 90%;
    flex-wrap: no-wrap;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}
.todo-prev__title {
  align-self: flex-start;
}
.todo-prev__task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  border-radius: 30px;
  height: 80px;
}
@media screen and (max-width: 2560px) {
  .todo-prev__task {
    width: 25%;
  }
}
@media screen and (max-width: 425px) {
  .todo-prev__task {
    width: 85%;
  }
}
.todo-prev__task:hover {
  background-color: #f2eafb;
}
.todo-prev__task:hover i {
  color: #9356DC;
}
.todo-prev__task__number {
  border-radius: 50%;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media screen and (max-width: 425px) {
  .todo-prev__task__number {
    margin-left: -30px;
  }
}
@media screen and (max-width: 768px) {
  .todo-prev__task__number {
    margin-left: -15px;
  }
}
@media screen and (max-width: 2560px) {
  .todo-prev__task__number {
    margin-left: -40px;
  }
}

.location-prev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.restaurant-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
}
@media screen and (max-width: 2560px) {
  .restaurant-prev {
    width: 30%;
  }
}
@media screen and (max-width: 425px) {
  .restaurant-prev {
    width: 90%;
  }
}
.restaurant-prev__img img {
  object-fit: cover;
  width: 100%;
  height: 280px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant-prev__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.restaurant-prev__infos h6 {
  margin-bottom: 0px;
}
.restaurant-prev__infos p {
  margin-top: 0px;
}
.restaurant-prev__infos__favoris {
  position: relative;
  left: 80%;
}

.btn {
  background: linear-gradient(70deg, #9356DC, #FF79DA);
  /*https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Images/Using_CSS_gradients*/
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons i {
  color: black;
}

/*loader*/
.load {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}
.load__bar {
  background-color: #15DEA5;
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards alternate ease-in-out;
  animation-iteration-count: 5;
  animation-delay: 3s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
    display: none;
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
