@font-face {
  font-family: "Shrikhand";
  src: url(./../../sass/vendors/shrikhand/Shrikhand-Regular.otf);
  /*attention prendre le chemin relatif depuis le fichier css dans public*/
}
h1, .footer__informations:nth-child(1) {
  font-family: "Shrikhand";
}

h2, h6, span, p {
  font-family: "Roboto";
}

/*
$number:(
    mobile-margin-left: -45px,
    tablet-margin-left: -15px,
    laptop-margin-left: -30px,    
);
*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.header__title {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
footer {
  background-color: #353535;
  color: white;
}
footer__informations p {
  font-style: italic;
}
@media screen and (max-width: 425px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

ul {
  list-style-type: none;
}
@media screen and (max-width: 2560px) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.menu-prev {
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  height: 100px;
  text-overflow: ellipsis;
  animation-name: menu-loader;
  animation-duration: 3000ms;
}
@media screen and (max-width: 2560px) {
  .menu-prev {
    width: 25%;
  }
}
@media screen and (max-width: 425px) {
  .menu-prev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 90%;
  }
}
.menu-prev__title {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  margin-bottom: 0px;
}
.menu-prev__informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  width: 80%;
}
.menu-prev__byline {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-prev__price {
  font-weight: bold;
}
.menu-prev__validation {
  width: 10%;
  height: 100%;
  background-color: #99e2d0;
}
.menu-prev:hover .menu-prev__validation {
  transform: translateX(-50px);
  transition: 3000ms;
}

.conteneur {
  background-color: #F2F2F2;
  width: 100%;
  height: 1500px;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: -50px;
}
@media screen and (max-width: 2560px) {
  .conteneur {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .conteneur {
    height: 1000px;
  }
}
@media screen and (max-width: 425px) {
  .conteneur {
    height: 1500px;
  }
}
.conteneur__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  width: 90%;
  align-self: flex-start;
}
.conteneur__byline {
  display: flex;
  flex-direction: row;
  width: 90%;
  text-decoration: none;
}
.conteneur__underline {
  width: 15%;
  height: 2px;
  background-color: #99E2D0;
}
.conteneur__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}
.conteneur__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 95%;
}
.conteneur__meals {
  width: 100%;
  height: 25%;
}
@media screen and (max-width: 2560px) {
  .conteneur__meals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
  }
}
@media screen and (max-width: 425px) {
  .conteneur__meals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25%;
  }
}
.conteneur--height--border {
  border-radius: 0px;
  margin-top: 50px;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 2560px) {
  .conteneur--height--border {
    height: 1000px;
  }
}
@media screen and (max-width: 425px) {
  .conteneur--height--border {
    height: 2000px;
  }
}

.picture-prev__img img {
  object-fit: cover;
  width: 100%;
}

.description-prev {
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media screen and (max-width: 2560px) {
  .description-prev {
    display: flex;
    flex-direction: column;
  }
}
.todo-prev {
  z-index: 2;
}
@media screen and (max-width: 2560px) {
  .todo-prev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-content: space-between;
  }
}
@media screen and (max-width: 425px) {
  .todo-prev {
    flex-wrap: no-wrap;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}
.todo-prev__title {
  align-self: flex-start;
}
.todo-prev__task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  border-radius: 30px;
  height: 80px;
}
@media screen and (max-width: 2560px) {
  .todo-prev__task {
    width: 25%;
  }
}
@media screen and (max-width: 425px) {
  .todo-prev__task {
    width: 85%;
  }
}
.todo-prev__task:hover {
  background-color: #f2eafb;
}
.todo-prev__task:hover i {
  color: #9356DC;
}
.todo-prev__task__number {
  border-radius: 50%;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media screen and (max-width: 425px) {
  .todo-prev__task__number {
    margin-left: -30px;
  }
}
@media screen and (max-width: 768px) {
  .todo-prev__task__number {
    margin-left: -15px;
  }
}
@media screen and (max-width: 2560px) {
  .todo-prev__task__number {
    margin-left: -40px;
  }
}

.location-prev {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.restaurant-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
}
@media screen and (max-width: 2560px) {
  .restaurant-prev {
    flex-wrap: nowrap;
    width: 40%;
  }
}
@media screen and (max-width: 425px) {
  .restaurant-prev {
    width: 90%;
  }
}
.restaurant-prev__img img {
  object-fit: cover;
  width: 100%;
  height: 280px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.restaurant-prev__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.restaurant-prev__infos h6 {
  margin-bottom: 0px;
}
.restaurant-prev__infos p {
  margin-top: 0px;
}
.restaurant-prev__infos__favoris {
  position: relative;
  left: 80%;
}
.restaurant-prev__text {
  position: relative;
  font-weight: bold;
}
@media screen and (max-width: 2560px) {
  .restaurant-prev__text {
    top: -400px;
    left: 350px;
  }
}
@media screen and (max-width: 425px) {
  .restaurant-prev__text {
    left: 250px;
  }
}
.restaurant-prev__text__background-color {
  height: 50px;
  width: 100px;
  position: relative;
  background-color: #99E2D0;
}

.btn {
  background: linear-gradient(70deg, #9356DC, #FF79DA);
  /*https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Images/Using_CSS_gradients*/
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons i {
  color: black;
}

/*loader*/
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -9999;
  animation-name: loading-spinner;
  animation-duration: 1000ms;
}

@keyframes menu-loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-5%);
  }
}
@keyframes loading-spinner {
  0% {
    transform: scale(1);
    z-index: 9999;
  }
  100% {
    transform: scale(0);
  }
}

/*# sourceMappingURL=style.css.map */
