@keyframes menu-loader{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loading-spinner-background{
    0%{
        visibility: hidden;
        z-index: 9000;

    }
    100% {
        visibility: visible;

    }
}

@keyframes loading-spinner-items{
    0%{
        transform: translateX(0px);
        transition: transform 1000ms ease-in-out;
        background-color: $primaire;
    }

    50%{
        transform: translateX(400px);
        transition: transform 1000ms ease-in-out;
    }
    100% {
        @include tablet-only{
            transform: translateX(768px)
        }
        transform: translateX(800px);
        transition: transform 1000ms ease-in-out;

    }
}
