/*coeur sur la page menu*/

.icons{

    &--hover{
        opacity: 0;
        color : $primaire    
    }

    &--position{
        right: 50px;
        position: absolute;


        @include laptop-only{
            right: 100px;
        }
        @include tablet-only{
            right: 50px;
        }

       &--index{
        right: 3%;
        position: absolute;

        @include laptop-only{
            right: 50px;
        }
        @include tablet-only{
            right: 30px;
        }

    }
    

    }

    

}



/*validation des menus*/
.fa-check-circle{
    color: white;
    background: $tertiaire;

}

/*annulation de la class .fas*/




