/*coeur sur la page menu*/

.icons{

    &--hover{
        opacity: 0;
        color : $primaire    
    }

    &--position{

        @include laptop-only{
            position: absolute;
            right: 1000px;
        }
        @include tablet-only{
            right: 350px;
        }
        @include mobile-only{
            right: 50px;
       }

       &--index{

        @include laptop-only{
            position: absolute;
            right: 50px;
        }
        @include tablet-only{
            right: 30px;
        }
        @include mobile-only{
            right: 50px;
       }

       }
    

    }

    

}

.fa-heart{


}

/*validation des menus*/
.fa-check-circle{
    color: white;
    background: $tertiaire;

}

/*annulation de la class .fas*/




