
.load {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    &__bar {
        background-color: $cd-bars;
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards alternate ease-in-out;
        animation-iteration-count: 5;
        animation-delay: 3s;
        animation-play-state: running;
        animation-fill-mode: forwards;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        display: none;
        
    }
    100% {
        transform: scaleY(1.0);
        opacity: 0;

    }
}
