@font-face {
    font-family: "Shrikhand";
    src: url(./../../sass/vendors/shrikhand/Shrikhand-Regular.otf);
    /*attention prendre le chemin relatif depuis le fichier css dans public*/
}

h1, .footer__informations:nth-child(1){
    font-family: "Shrikhand";
}

h2,h6,span,p,.btn{
    font-family: Roboto,sans-serif;
}