@font-face {
    font-family: "Shrikhand";
    src: url(./../vendors/shrikhand/Shrikhand-Regular.otf);
}

h1,h2,h3,h4,h5,h6{
    font-family: "Shrikhand";
    font-weight: bold;
}

span,p{
    font-family: "Roboto";
}