.description-prev{
    @include laptop-only{
        @include flex-column;
    }
    background-color: #fafafa;    
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    @include mobile-only{
        padding: 2rem;
    }

   
}