.description-prev{
    @include flex-column;
    background-color: $background-color;    
    justify-content: center;
    align-items: center;
    &__btn {
        background-color: $secondaire;
        color: white;
        border-radius: 30px;
    }
    @include mobile-only;

}