.restaurant-prev{
    position: relative;
    z-index: 1;
    @include flex-column;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    height: 300px;
    cursor: pointer;
    @include shadow;
    @include laptop-only{
        flex-wrap: nowrap;
        width: 30%;
        height: 45%;
    }
    @include tablet-only{
        flex-wrap: nowrap;
        width: 40%;
        height: 35%;
    }
    @include mobile-only{
        width: 90%;
        height: auto;
    }


    &__img img{
        object-fit: cover;
        width: 100%;
        height: 90%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        @include laptop-only{
            max-height: 250px;

        }
        @include tablet-only{
            max-height: 180px;
        }        
        @include mobile-only{
            max-height: 200px;

        }
    }

    &__infos{
        height: 80px;
        @include flex-column;
        justify-content: center;
        align-items: flex-start;
        & h2{
            margin-bottom: 0px;
        }
        & p{
            margin-top: 0px;
        }
    
        &__favoris{
            position: relative;
            left: 100%;
            cursor: pointer;
            & .fa-heart{

                @include mobile-only{
                    right: 20px;
                    top:-20px;
                }
            }

            &:hover{
                cursor: pointer;
                & .fas{
                    opacity: 1;
                }
                & .fill{
                    opacity: 0;
                }
            }
        }
    }

    &__text{
        height: 30px;
        width: 90px;
        color:#1b6150;
        background-color: $tertiaire;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: bold;
        @include laptop-only{
            top:-300px;
            left: 300px;
        }
        @include tablet-only{
            left: 200px;
            top: -225px;
        }
        @include mobile-only{
            left: 250px;
        }
        @include mobileM-only{
            left: 240px;
        }
        @include mobileS-only{
            left: 180px;
        }
    }


}