.todo-prev{
    
    z-index: 2;
    @include laptop-only{
        @include flex-column;
        flex-wrap: wrap;
        height: 100px;
        width: 100%;
        justify-content: space-around;
        align-content: space-between;
    }
    @include mobile-only{
        flex-wrap: no-wrap;
        height: 400px;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
    }

        
    &__title{
        align-self: flex-start;

    }
    &__task{
        @include laptop-todo-task;
        @include mobile-todo-task;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include shadow;
        border-radius: 30px;
        height: 80px;

        &:hover{
            background-color: #f2eafb;

            & i{
                color: $primaire;
            }
        }
        
    &__number{
        border-radius: 50%;
        background-color: $primaire;
        @include mobile-only{
            @include number(laptop);
        };
        @include tablet-only{
            @include number(tablet);

        };
        @include laptop-only{
            @include number(mobile);
        };
        height: 20px;
        width: 20px;
        @include flex-column;
        justify-content: center;
        align-items: center;
        color:white            
        }

    }

}