.todo-prev{
    position: relative;
    background-color: white;
    z-index: 1;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 0px;
    padding-bottom: 50px;
    @include flex-column;

    @include laptop-only{
        height: 100px;
        width: 100%;
        align-content: space-between;
    }

    @include  tablet-only{
        height: 150px;
        width: 100%;
        justify-content: flex-end;
        align-content: space-around;
        margin-bottom: 10px;
        
    }
        
    &__title{
        align-self: flex-start;
    }
    &__task{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;

        @include shadow;
        @include laptop-only{
            width: 25%;

        }
        @include tablet-only{
            width: 30%;

        }

        border-radius: 30px;
        height: 80px;

        &:hover{
            background-color: #f2eafb;

            & i{
                color: $primaire;
            }
        }
        
    &__number{
        border-radius: 50%;
        background-color: $primaire;
        margin-left: -40px;
        @include laptop-only{
            @include number(laptop4k);

        }
        @include laptop-only-L{
            @include number(laptopL);

        }
        @include laptop-only-S{
            @include number(laptopS);

        }
        @include tablet-only{
            @include number(tablet);
        }

        @include mobileS-only{
            @include number(mobileS);

        }
       
        height: 20px;
        width: 20px;
        @include flex-column;
        justify-content: center;
        align-items: center;
        color:white            
        }

    }

}