$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;
$background-color : #F2F2F2;
$breakpoints:(
    mobile: 425px,
    tablet: 768px,
    laptop4k: 2560px,
    laptopL: 1440px,
    laptop: 1024px,
    mobileM: 375px,
    mobileS: 320px
);

$restaurants:(
    mobile-witch: 90%,
    laptop-witch: 30%
);

$conteneur:(
    mobile-height-index : 2000px,
    laptop-height-index : 1000px    
);

$todo:(
    mobile-witch: 90%,
    laptop-witch: 30%
);

$desciption:(
    mobile-height: 200px,
    laptop-height: 200px
);

$number:(
    mobile: -40px,
    tablet: -35px,
    laptop: -30px,    
);


