$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;
$background-color : #F2F2F2;
$breakpoints:(
    mobile: 425px,
    tablet: 768px,
    laptop: 1024px
);

/*loader*/
$cd-bars: #15DEA5;
$size: 3vh;
$num-bars: 5;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;