$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;
$background-color : #F2F2F2;
$breakpoints:(
    mobile: 425px,
    tablet: 768px,
    laptop4k: 2560px,
    laptopL: 1440px,
    laptop: 1024px,
    mobileM: 375px,
    mobileS: 320px
);

$restaurants:(
    mobile-witch: 90%,
    laptop-witch: 30%
);

$conteneur:(
    mobile-height-index : 2000px,
    laptop-height-index : 1000px    
);

$todo:(
    mobile-witch: 90%,
    laptop-witch: 30%
);

$desciption:(
    mobile-height: 200px,
    laptop-height: 200px
);

/*Gestion de la position des chiffres sur la page d'index*/
$number:(
    mobile: -40px,
    tablet: -40px,
    laptop4k: -15%,
    laptopL: -45px,
    laptopS : -20px,
    mobileS : -30px,    
);

$spanTop :(
    /*mobile: -40px,*/
    tablet: -225px,
    laptop4k: -300px,
    laptopL: -300px,
    laptopS : -260px,
    mobileS : -25px, 
);
$spanLeft :(
    /*mobile: 250px,*/
    tablet: 200px,
    laptop4k: 70%,
    laptopL: 300px,
    laptopS : 200px,
    mobileS : 180px,
    mobileM : 240px, 
);
$underlineWidth:(
    /*mobile: 15%,*/
    tablet: 15%,
    laptop4k: 5%,
    laptopL: 5%,
    laptopS : 10%,

)
